<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
        <h1>Twitter common follow finder</h1>  
        <form method="post">
            <span><label for="fname">Username:</label></span>
            <span><input type="text" id="username" name="username"></span>
            <span><input type="submit" name="submit" value="Submit"></span>
          </form>

        {% if username %}
          {% if error %}
            <p>User @{{username}} not found. Please try again</p>
          {% else %}
            <h2>The followers of {{name}} (@{{username}}) also follow</h2>
            <ul>
              Most
              {% if result['first']['number']%}
              ({{result['first']['number']}}/{{num_sampled_followers}} followers follow)
                {% for user in result['first']['user'] %}
                <li>
                    <span>{{user[0]}}  </span>
                    <span>(@{{user[1]}})</span>
                </li>
                {% endfor %}
              {% else %}
                <li>more than 100 users...</li>
              {% endif %}
            </ul>
            <ul>
              Second
              {% if result['second']['number']%}
              ({{result['second']['number']}}/{{num_sampled_followers}} followers follow)
                {% for user in result['second']['user'] %}
                <li>
                    <span>{{user[0]}}  </span>
                    <span>(@{{user[1]}})</span>
                </li>
                {% endfor %}
              {% else %}
                <li>more than 100 users...</li>
              {% endif %}
            </ul>
            <ul>
              Third
              {% if result['third']['number']%}
              ({{result['third']['number']}}/{{num_sampled_followers}} followers follow)
                {% for user in result['third']['user'] %}
                <li>
                    <span>{{user[0]}}  </span>
                    <span>(@{{user[1]}})</span>
                </li>
                {% endfor %}
              {% else %}
                <li>more than 100 users...</li>
              {% endif %}
            </ul>

            <h2>The sampled follwers of {{name}} (First degree connections)</h2>
            <p>{{degrees['first']}}</p>
            <h2>The follwers also follow (Second degree connections)</h2>
            <p>{{degrees['second']}}</p>
          {% endif %}
        {% endif %}
    </main>

  </body>
</html>